/* Shared admin panel CSS */
#loading-indicator { z-index: 50; }
@keyframes flash { 0%{opacity:1;} 50%{opacity:.5;} 100%{opacity:1;} }
.animate-flash{animation:flash 1.2s;}
body { font-family: 'Montserrat', sans-serif; }
